.text-small {
  font-size: 10px;
  color: #cfaa80;
}
.text-xs-small {
  font-size: 10px;
  color: white;
}
.top-logo {
  box-shadow: 0px 3px 3px -1px #ccc;
}
.img-logo {
  width: 120px;
  margin: auto;
}
.box-custom {
  width: 33% !important;
  margin-right: 1.5%;
  &:last-child {
    margin-right: 0;
  }
}
.box-end {
  padding-bottom: 7rem;
}
.box-1 {
  background-color: #cfaa80;
}
.txt-reg {
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  word-spacing: 0px;
  color: #7e3653;
}
.bar-bot {
  position: fixed;
  background: rgb(144, 18, 66);
  background: linear-gradient(60deg, rgba(144, 18, 66, 1) 0%, rgba(107, 13, 49, 1) 35%, rgba(75, 9, 36, 1) 100%);
  width: 100%;
  bottom: 0;
  li {
    float: left;
    border-right: solid 1px #fff;
    padding: 1rem 0;
    font-weight: 600;
    &:last-child {
      border-right: 0;
    }
    img {
      width: 30px;
      margin-bottom: 5px;
    }
  }
}
.w-95 {
  width: 95%;
}
.border-bot {
  border-bottom: solid 1px #cfaa80;
}
.text-red-500 {
  color: #7e3653 !important;
}
.icon-1 {
  width: 12px;
}
.bg-1 {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #efcbfe 0%, #d576f8 100%);
}
.bg-btn {
  margin-top: 10rem;
}
.bg-abs {
  background-color: #1a202c75;
  border-radius: 10px;
}
.btn-1,
.btn-2 {
  font-size: 10px;
  color: #fff;
  background-color: #cfaa80;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
}
.box-inf {
  height: 110px;
  box-shadow: 0px 0px 6px 1px #cccccca3;
  border-radius: 35px;
}
.img-inf {
  width: 70px;
  height: auto;
}
.ml-10\/12 {
  margin-left: 12%;
}
.bg-only {
  border-radius: 10px;
  background-image: linear-gradient(to top, #efcbfe 0%, #d576f8 100%);
}
.bg-demo {
  width: 100%;
  height: 110px;
}
.box-bot-inf {
  height: 220px;
}
@media screen and (max-width: 375px) {
  .text-small {
    font-size: 8px;
  }
  .text-xs-small {
    font-size: 9px;
  }
}
@media screen and (max-width: 320px) {
  .text-xs-small {
    font-size: 8px;
  }
}
