
$text-color: #000; 

$text-color-success: #a1dd70;
$text-color-warning: #FECE00;
$text-color-danger: #D10F04;
$text-color-info: #3498db;



$color-success: #67c23a;
$color-warning: #fece00;
$color-danger: #e61b10;
$color-info: #3498db;

$color-text-primary: #333648;
$color-text-regular: #626579;
$color-text-secondary: #8E919F;
$color-text-placeholder: #A8AABC;

$border-color-base: #DCDFE6;
$border-color-light: #E4E7ED;
$border-color-lighter: #EBEEF5;
$border-color-extra-light: #F2F6FC;

$color-white: #fff;
$color-black: #000;
$background-color-lighter: #eceef3;
$background-color-base: #fff;
$background-color-darker: #424559;
$border-color: #dadada;

/* ============ define ============= */

$box-shadow: 4px 5px 10px -4px #bdc2d361;
$border-radius: 4px;
$main-color: #282d46;

// primary color for all
$color-primary: #40407a;
$color-primary-hover: #5858a0;
$main-button-color: #40407a;
$main-button-color-hover: #5858a0;
$main-bg-hover: #ffffff25;

$sub-text-color: #a4b0be;
$main-text-color: #000;

// primary background color
$background-color: #eceef3; 
$text-color-accent: #40407a; 

// color for input 
$placeholder-color: #86919c;
$input-text-color: #3c4043;
$input-bg-color: #dadde4;
